<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-body">
      <div class="media">
        <div class="media-left">
          <img src="<%= api.iconURL %>" style="width:175px;height:175px;border-radius:10px">
        </div>
        <div class="media-body">
          <h1> <%= api.submitTitle %> </h1>
          <p><%= api.quickDescr %></p>
        </div>
      </div>

      <h2>Resources</h2>
      <p><%= api.docLink %></p>
      <p><%= api.tutLink %></p>
      <h2>Projects</h2>

      <div id="proj-carousel-container">
        <div class="proj-carousel">

        </div>
        <div class="proj-carousel">

        </div>
      </div>
      <h2>Comments</h2>

    </div>
  </div>

</div>
