<div class="col-lg-4 col-md-6 col-xs-12 thumb api_post" >


    <div class="media">

      <div class="media-left">
        <img src= <%=apiCaro.iconURL%>   class="block-center api_post_pic"/>
      </div>

      <div class="media-body">

        <h4 class="media-heading"><a href=<%="./apis/" +  apiCaro.postId %> > <%= apiCaro.submitTitle %></a></h4>
        <small>
          By <a href="./org/123.html"> <%= apiCaro.companyOrig %></a><br>
          <small> submitted by <a href="./users/123.html">moooo</a></small>
        </small>
        <br>
        <p><%= apiCaro.quickDescr %></p>

      </div > <!--media-body -->

      <div class="media-bottom" style="padding:3px; position: absolute; bottom: 0; width: 80%; ">
        <div class="row">
          <div class="col-xs-4" >
            <div class="interact-main">
              <div class="interact-icon left">
                <span class="glyphicon glyphicon-heart rate"></span>
              </div>
              <div class="interact-icon right">
                <small><%= apiCaro.numLikes %></small>
              </div>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="interact-main">
              <div class="interact-icon left">
                <span class="glyphicon glyphicon-comment rate"></span>
              </div>
              <div class="interact-icon right">
                <small><%= apiCaro.numComments %></small>
              </div>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="interact-main">
              <div class="interact-icon left">
                <span class="glyphicon glyphicon-globe rate"></span>
              </div>
              <div class="interact-icon right">
                <small><%= apiCaro.numProjs %></small>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div> <!--media bottom part -->
  </div> <!--media-->
