
<div id="carts-logistics">

  <div class="row">
    <div class="col-xs-8">
      <div id="carts-title">
        <p>API Shopping Cart</p>
      </div>
    </div>

    <div class="col-xs-2">
      <div id="carts-settings">
        <span class="glyphicon glyphicon-cog"></span>
      </div>
    </div>
    <div class="col-xs-2">
      <div id="carts-min">
        <a class="menu-arrow" href="#carts" data-toggle="collapse" data-parent="#carts-yo"><span class="glyphicon glyphicon-triangle-right"></span></a>
      </div>
    </div>
  </div>
</div>

<div id="carts-yo">
  <div id="carts" class="panel-group collapse in">
    <% userCarts.forEach(function(cart, i) { %>
      <div class="api-cart panel panel-default" id=<%= "api-cart-" + i %>>
        <h4 style="display:inline"><%= cart.cartTitle %></h4>

        <a class="menu-arrow" href="#api-cart-details-<%=i%>" data-toggle="collapse" data-parent="#api-cart-<%=i%>">
          <span style="display:inline; float:right;" class="glyphicon glyphicon-triangle-right"></span>
        </a>

        <div id= <%= "api-cart-details-" + i %> class="panel-group collapse in api-cart-details">
          <% cart.apis.forEach(function(api, i) { %>
            <div class="panel panel-default">
              <div class="media">
                <div class="media-left">
                  <img src="<%=api.apiIcon%>" class="media-object api-cart-details-pic">
                </div>
                <div class="media-body">
                  <p><%=api.apiTitle%></p>
                </div>
              </div>
            </div>
          <% }); %>
        </div>

      </div>
    <% }); %>
  </div>
</div>
