<html>

<head>
  <%- include('partials/head') %>
  <title>HackList</title>
  <link href="/css/front.css" type="text/css" rel="stylesheet">
  <link href="/css/dragula.min.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora|Work+Sans" rel="stylesheet">
  <script src="/js/front.js"></script>
  <script src="/js/ejs.min.js"></script>
</head>

<body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>

<div class="container">

  <div class="modal fade" id="myModal" role="dialog">
    <%- include('modals/test', {api: {}}) %>
  </div>
  <%- include('partials/navbar', {"active":"front"}) %>

  <%- include('partials/menu', {"active": "hot"}) %>

  <div class="row">
    <div class="col-xs-9">
      <div class ="row" id="api_post_container">

            <% posts.forEach(function(post) { %>
                  <%- include('partials/api-carousel', {apiCaro:post}) %>
            <% }); %>
      </div>
    </div>

    <div class="col-xs-3">
      <div id="carts-container">
        <%- include('partials/cart', {userCarts:userCarts}) %>
      </div>
    </div>
  </div>

</div>

</body>
</html>
